/* タイトル */
h1{
    background: #c2edff;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
}

/* 検索窓全体 */
#layout01 {
    width: 180px;
    height: auto;
    float: left;
}

/* 地域選択 */
#layout01_01 {
    width: 180px;
    height: auto;
}

/* ジャンル検索 */
#layout01_02 {
    width: 180px;
    height: auto;
}

/* 日付検索 */
#layout01_03 {
    width: 180px;
    height: auto; 
}

/* 地図 */
#mapid {
    height: 84.9vh;
    position:relative;
    top:11px;
    padding: 1px;
    border: 1px solid black;
}